# dependencies
/node_modules
/.pnp
.pnp.js
/coverage

# build
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# env / secrets
.env*.local
*.pem

# vercel
.vercel

# convex
.convex/

# OS
.DS_Store
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# IDE
.vscode/settings.json
.idea/
